@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1. General
2. Re-usable Styles
3. Body
4. Header
5. Footer
6. Mobile Menu
7. Home Page
8. Page
9. Blog

20. Animations
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
General
*/

@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);


$serif: 'Playfair Display', serif;
$sansserif: 'Martel Sans', Arial, sans-serif;
$body-color: #7b7b7b;
$link-color: #9d8347;


body {
	color: $body-color;
	font-family: $sansserif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------------------------------------
Re-usable Styles
*/

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	color: $body-color;
}

#wrapper #content-container,
.transition, a,
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, 
#mobile-menu, 
.mobile-menu li span, 
.mobile-menu li a,  
.btn,
.button,
input[type=submit], 
.product {
  -moz-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a {
	color: $link-color;
}

.button, .btn {
	background: $link-color;
}

.button:hover, .btn:hover {
	background: #000000;
}

/*------------------------------------------------------------------
BODY
*/

#wrapper {
	overflow: hidden;
}

#sidebar-holder, #content-holder {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

#content-holder {
	background: yellow;
}

@media only screen and (min-width: 64.063em) {
	#sidebar-holder {
		width: 290px;
		float: left;
		height: 1px;
  	}

	#content-holder {
		width: calc(100% - 290px);
		float: right;
	}

}

#sidebar {
	width: 100%;
	background: #f5f5f5;
	color: #7d7d7d;
	padding: 30px 0 10px;
	text-align: center;
	min-height: 100%;
	display: block;	
	position: relative;
}
@media only screen and (min-width: 64.063em) {
	#sidebar {
		width: 290px;
		padding: 70px 0 0;
		position: fixed;
	}
}

#content {
	width: 100%;
	position: relative;
	display: block;
}

.content-inner {
	padding: 0px 10px;
}

/* Overlay */
#content::after {
  content: '';
  background: rgba(202, 202, 202, 0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#content.view-single::after {
  opacity: 1;
}

/*------------------------------------------------------------------
TOP-BAR
*/

$top-bar-height: 64px;

#top-bar {
	position: relative;
	display: block;
	width: 100%;
	height: $top-bar-height;
}

#top-bar .heading {
	display: inline-block;
	padding: 0px 20px;
	margin-top: 0px;

	font-size: 1em;
	line-height: $top-bar-height;

	background: #d78977;
	color: #000000;
	text-transform: uppercase;
}

.checkout {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;

	width: 100%;
	height: 100%;
}

.checkout__button,
.checkout__close {
	position: absolute;
	overflow: hidden;
	width: 4em;
	height: 4em;
	cursor: pointer;
}

.checkout__button {
	bottom: 0;
	left: 0;
}

.checkout--active .checkout__button {
	cursor: default;
	pointer-events: none;
}

.checkout__button:focus {
	outline: none;
}

.checkout__text {
	display: block;
	padding: 0.8em 0 0;
	color: #fff;
	font-weight: 400;
	font-size: 1.25em;
	-webkit-transition: opacity 0.6s 0.3s;
	transition: opacity 0.6s 0.3s;
}

.checkout--active .checkout__text {
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.checkout__icon {
	display: block;
	margin: 0 auto;
	fill: #fff;
}

.checkout__close {
	top: 0;
	right: 0;
	display: -webkit-flex;
	display: flex;
	width: 2em;
	height: 2em;
	border: none;
	background: transparent;
	color: #B57363;
	font-size: 1.5em;
	opacity: 0;
}

.checkout--active .checkout__close {
	opacity: 1;
}

.checkout__close:hover {
	color: #a36252;
}

.checkout__close:focus {
	outline: none;
}

.icon {
	margin: auto;
}

.checkout-grid {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
	pointer-events: none;
	-webkit-align-content: flex-start;
	align-content: flex-start;
}

.checkout-grid__item {
	width: 25%;
	height: 14em;
	color: #fff;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 1, 0.3, 1), opacity 0s 0.6s;
	transition: transform 0.6s cubic-bezier(0.4, 1, 0.3, 1), opacity 0s 0.6s;
}

.checkout-grid__item:first-child {
	background: #a7eac1;
	-webkit-transform: translate3d(400%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(400%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(2) {
	background: #a1dab7;
	-webkit-transform: translate3d(300%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(300%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(3) {
	background: #baeacc;
	-webkit-transform: translate3d(200%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(200%, -100%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(4) {
	/* special box */
	opacity: 1;
	-webkit-transform: translate3d(100%, -100%, 0) translate3d(-4em, 4em, 0);
	transform: translate3d(100%, -100%, 0) translate3d(-4em, 4em, 0);
}

.checkout-grid__item:nth-child(5) {
	background: #9ec7ad;
	-webkit-transform: translate3d(400%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(400%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(6) {
	background: #c1ecd2;
	-webkit-transform: translate3d(300%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(300%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(7) {
	background: #9edab4;
	-webkit-transform: translate3d(200%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(200%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item:nth-child(8) {
	background: #6ec590;
	-webkit-transform: translate3d(100%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
	transform: translate3d(100%, -200%, 0) translate3d(-3.9em, 3.9em, 0);
}

.checkout-grid__item--summary {
	z-index: 100;
	background: #d78977;
	text-align: center;
	pointer-events: auto;
}

.checkout--active .checkout-grid {
	pointer-events: auto
}

.checkout--active .checkout-grid__item {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 1, 0.3, 1);
	transition: transform 0.6s cubic-bezier(0.4, 1, 0.3, 1);
}

.checkout-grid__item img {
	display: block;
	margin: 0 auto;
	padding: 1em;
	max-width: 100%;
}

.checkout-grid__item h4 {
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 1em;
	width: 50%;
	color: #4f4f4f;
	text-align: left;
}

.checkout-grid__item .price {
	float: left;
	padding: 0 1em;
	width: 50%;
	color: #4f4f4f;
	font-weight: bold;
}

.checkout-grid__item-remove {
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	background: none;
	color: rgba(0, 0, 0, 0.1);
}

.checkout-grid__item-remove:hover {
	color: rgba(0, 0, 0, 0.2)
}

.checkout-grid__item-remove:focus {
	outline: none
}

.checkout__total {
	padding-top: 2em;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	opacity: 0;
}

.checkout--active .checkout__total {
	opacity: 1
}

.checkout__option {
	display: inline-block;
	border: none;
	background: none;
	color: #B57363;
	opacity: 0;
}

.checkout__option--loud {
	margin-top: 1em;
	padding: 0.5em 2em;
	border: none;
	background: #B57363;
	color: #fff;
	font-weight: 600;
}

.checkout__option--loud:hover {
	background: #a36252;
}

.checkout__option--silent {
	margin-top: 1em;
	width: 60%;
	font-size: 0.75em;
}

.checkout__option--silent:hover {
	color: #a36252;
}

.checkout__option:focus {
	outline: none;
}

.checkout--active .checkout__option {
	opacity: 1;
}

.checkout-grid__item img,
.checkout-grid__item h4,
.checkout-grid__item .price {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.checkout--active .checkout-grid__item img,
.checkout--active .checkout-grid__item h4,
.checkout--active .checkout-grid__item .price {
	opacity: 1;
	-webkit-transition: none;
	transition: none;
}

.dummy-grid::after {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

@media screen and (max-width:46em) { 
	.checkout-grid__item {
		width: 100%;
		height: 4em;
		opacity: 1;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	.checkout-grid__item--summary {
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: translate3d(100%, 0, 0) translate3d(-4em, 0, 0);
		transform: translate3d(100%, 0, 0) translate3d(-4em, 0, 0);
	}

	.checkout-grid__item:not(:nth-child(4)) {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	.checkout-grid__item:first-child {
		margin-top: 4em
	}

	.checkout--active .checkout-grid__item {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.checkout__total {
		float: left;
		padding: 0.5em;
		font-size: 1.5em;
	}

	.checkout__option {
		position: relative;
		bottom: auto;
		left: auto;
		float: left;
		-webkit-transform: none;
		transform: none;
	}

	.checkout-grid__item h4 {
		padding: 1em
	}

	.checkout-grid__item .price {
		padding: 1.25em 3em 0 0
	}

	.checkout-grid__item img {
		display: none
	}

	.checkout-grid__item-remove {
		top: 50%;
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
	}

	.checkout__option.checkout__cancel {
		display: none;
	}

	.checkout__close {
		height: 100%;
	}
}


/*------------------------------------------------------------------
SHOP
*/

.products {
	display: block;
}

.product {
	position: relative;
	overflow: hidden;
}

.shop-item {
	/*border: 10px solid #fff; */
	text-align: center;
  	height: 430px;
}

.shop-item.featured {
  	height: 430px;
}

@media only screen and (min-width: 40.063em) { 
	.shop-item {
  		height: 400px;
  	}
	.shop-item.featured {
	  	height: 400px;
	}
}

@media only screen and (min-width: 64.063em) { 
	.shop-item {
		height: 420px;		
	}
	.shop-item.featured {
	  	height: 520px;
	}
}

.shop-item img {
	max-width: none!important;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    height: 100%;
    position: absolute;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*------------------------------------------------------------------
QUICK-VIEW
*/

$item_width: 300px;
$sidebar_width: 300px;
$color_primary: #f5f5f5;
$color_secondary: #fff;
$color_link: #81c483;
$anim-time: 0.5s;

.content__item {
	font-size: 1em;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
	pointer-events: none;
	position: absolute;
	width: calc(100% + 5px);
	height: calc(100vh + 5px);
	z-index: 100;
	top: 0;
	left: 0;
	background: $color_secondary;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	background: #FFFFFF;
}

.placeholder.placeholder--trans-in {
	-webkit-transition: -webkit-transform $anim-time;
	transition: transform $anim-time;
	-webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
	transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}

.placeholder.placeholder--trans-out {
	-webkit-transition: -webkit-transform $anim-time;
	transition: transform $anim-time;
}

/* main content */
.product-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	height: 0; /* Avoid second scroll bar in Chrome! */
	visibility: hidden;
	z-index: 400;
	overflow: hidden;
}

.product-content.content--show {
	height: 100vh;
	pointer-events: auto;
	visibility: visible;
}

/* scroll helper wrap */
.scroll-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	padding: 60px 60px 80px 60px;
	pointer-events: none;
	font-size: 0.85em;
	p {
		max-width: 1200px;
		margin: 1em auto;
		text-align: justify;
	}
	p:first-of-type {
		font-size: 1.35em;
	}
}

.content__item.content__item--show {
	height: auto;
	min-height: 100vh;
	opacity: 1;
	pointer-events: auto;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

/* content elements */
.category--full {
	font-size: 1.25em;
	margin-bottom: 20px;
	color: $color_link;

}

.title--full {
	font-size: 3.25em;
}

.meta--full {
	font-size: 1em;
	margin: 0 auto 2em;
	max-width: 1200px;
	.meta__author {
		display: block;
		text-align: center;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.meta__author::before {
		content: 'by ';
		font-weight: normal;
	}
	.meta__category {
		font-style: italic;
		float: left;
		margin: 0 5px;
		font-family: $serif;
	}
	.meta__category::before {
		content: 'in '
	}
	.meta__avatar {
		margin: 1em auto;
	}
}

.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
	opacity: 0;
}

.content__item p {
	opacity: 0;
}

.category--full,
.title--full {
	-webkit-transform: translate3d(0, 40px, 0);
	transform: translate3d(0, 40px, 0);
	text-align: center;
	display: block;
}

.meta--full {
	.meta__avatar,
	.meta__author,
	.meta__date,
	.meta__reading-time {
		-webkit-transform: scale3d(0.5,0.5,1);
		transform: scale3d(0.5,0.5,1);
	}
}

.content__item--show {
	.category--full,
	.title--full,
	.meta--full .meta__avatar,
	.meta--full .meta__author,
	.meta--full .meta__date,
	.meta--full .meta__reading-time {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}
}

.content__item--show .category--full,
.content__item--show .title--full {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.content__item--show .title--full {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.content__item--show .meta--full .meta__avatar {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.content__item--show .meta--full .meta__date {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}

.content__item--show .meta--full .meta__reading-time {
	-webkit-transition-delay: 0.34s;
	transition-delay: 0.34s;
}

.content__item--show.content__item p {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.25s;
	transition: opacity 0.5s 0.25s;
}

/* close button (for content and sidebar) */
.close-button {
	position: absolute;
	border: none;
	background: none;
	margin: 0;
	z-index: 100;
	top: 0;
	right: 0;
	font-size: 18px;
	color: #ddd;
	cursor: pointer;
	pointer-events: none;
	padding: 20px 30px;
	opacity: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.close-button span {
	display: none;
}

.close-button:hover {
	color: #7b7b7b;
}

/* show class for content close button */
.close-button--show {
	opacity: 1;
	pointer-events: auto;
}

/*------------------------------------------------------------------
Animations
*/
.animation {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-moz-perspective: 1000;
	-webkit-perspective: 1000;
	perspective: 1000;
	will-change: opacity;
}
@media only screen and (max-width: 40.063em) {
	.animation {
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
	}
}
.animate {
	will-change: opacity, transform;
}

.fade-in.animate {
	-webkit-animation: fade-in 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: fade-in 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: fade-in 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: fade-in 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: fade-in 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.fade-in.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.right-to-left.animate {
	-webkit-animation: right-to-left 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: right-to-left 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: right-to-left 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: right-to-left 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: right-to-left 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.right-to-left.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.left-to-right.animate {
	-webkit-animation: left-to-right 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: left-to-right 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: left-to-right 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: left-to-right 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: left-to-right 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.left-to-right.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.bottom-to-top.animate {
	-webkit-animation: bottom-to-top 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: bottom-to-top 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: bottom-to-top 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: bottom-to-top 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: bottom-to-top 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.bottom-to-top.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.top-to-bottom.animate {
	-webkit-animation: top-to-bottom 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: top-to-bottom 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: top-to-bottom 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: top-to-bottom 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: top-to-bottom 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.top-to-bottom.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.scale.animate {
	-webkit-animation: scale 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: scale 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: scale 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: scale 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: scale 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.scale.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.swingIn.animate {
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: swingInX 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation: swingInX 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation: swingInX 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation: swingInX 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: swingInX 0.45s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media only screen and (max-width: 40.063em) {
	.swingIn.animate {
		-webkit-animation: none;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		animation: none;
	}
}
.animate {
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.spinY {
	-webkit-animation: spinY 0.5s linear;
	-moz-animation: spinY 0.5s linear;
	-ms-animation: spinY 0.5s linear;
	-o-animation: spinY 0.5s linear;
	animation: spinY 0.5s linear;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	-moz-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	-ms-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	-o-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
}
@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes right-to-left {
	0% {
		opacity: 0;
		-moz-transform: translateX(50px);
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@-webkit-keyframes right-to-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@keyframes right-to-left {
	0% {
		opacity: 0;
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@-moz-keyframes left-to-right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-50px);
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@-webkit-keyframes left-to-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@keyframes left-to-right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-50px);
		-ms-transform: translateX(-50px);
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@-moz-keyframes bottom-to-top {
	0% {
		opacity: 0;
		-moz-transform: translateY(50px);
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-webkit-keyframes bottom-to-top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes bottom-to-top {
	0% {
		opacity: 0;
		-moz-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-moz-keyframes top-to-bottom {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-webkit-keyframes top-to-bottom {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes top-to-bottom {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-moz-keyframes scale {
	0% {
		opacity: 0;
		-moz-transform: scale(0, 0);
		transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
@-webkit-keyframes scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
@keyframes scale {
	0% {
		opacity: 0;
		-moz-transform: scale(0, 0);
		-ms-transform: scale(0, 0);
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
@-moz-keyframes swingInX {
	0% {
		-moz-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-moz-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
}
@-webkit-keyframes swingInX {
	0% {
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
}
@keyframes swingInX {
	0% {
		-moz-transform: perspective(1000px) rotateX(-90deg);
		-ms-transform: perspective(1000px) rotateX(-90deg);
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
	100% {
		-moz-transform: perspective(1000px) rotateX(0deg);
		-ms-transform: perspective(1000px) rotateX(0deg);
		-webkit-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
}
@-moz-keyframes swingOutX {
	0% {
		-moz-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
	100% {
		-moz-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
}
@-webkit-keyframes swingOutX {
	0% {
		-webkit-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
}
@keyframes swingOutX {
	0% {
		-moz-transform: perspective(1000px) rotateX(0deg);
		-ms-transform: perspective(1000px) rotateX(0deg);
		-webkit-transform: perspective(1000px) rotateX(0deg);
		transform: perspective(1000px) rotateX(0deg);
	}
	100% {
		-moz-transform: perspective(1000px) rotateX(-90deg);
		-ms-transform: perspective(1000px) rotateX(-90deg);
		-webkit-transform: perspective(1000px) rotateX(-90deg);
		transform: perspective(1000px) rotateX(-90deg);
	}
}
@-moz-keyframes bounceInY {
	0% {
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	60% {
		-moz-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceInY {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	60% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes bounceInY {
	0% {
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	60% {
		-moz-transform: translateY(30px);
		-ms-transform: translateY(30px);
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-moz-keyframes bounceOutY {
	0% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	30% {
		-moz-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-webkit-keyframes bounceOutY {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	30% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@keyframes bounceOutY {
	0% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	30% {
		-moz-transform: translateY(20px);
		-ms-transform: translateY(20px);
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-moz-keyframes spinY {
	0% {
		-moz-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-moz-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes spinY {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes spinY {
	0% {
		-moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-moz-transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}